button {
    color: #ddd;
    background-color: #333;
}
button:hover {
    color: lightgoldenrodyellow;
    background-color: #444;
    box-shadow: 4px 4px 16px rgba(70,205,79, 0.4);
}
.bt {
    background-color: #444;
    border: 1px solid rgba(180, 180, 180, 0.3);
}
.bt:hover {
    color: lightgoldenrodyellow;
    background-color: #555;
    box-shadow: 4px 4px 16px rgba(70,205,79, 0.4);
}
.bt.danger {
    color: white;
    margin-right: 30px;
    margin-left: 30px;
    background-color: #971c2c;
    border-color: #de3a4b;
}
.bt_s:hover, .bt_r:hover, groups:hover {
    text-decoration: none;
    color: lightgoldenrodyellow;
    background-color: #20608F;
}
.bt.danger:hover {
    color: yellow;
    background-color: #de3a4b;
    border-color: #971c2c;
    text-decoration: none;
}
.bt:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.nav_button {
    color: #ddd;
 }