button {
    color: #ddd;
    margin: 2px 0px;
    padding: 9px 34px 9px 34px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid rgba(180, 180, 180, 0.3);
    text-decoration: none;
    background-color: #333;
    transition: color .2s ease-in-out,background-color .2s ease-in-out, border-color .2s ease-in-out, box-shadow .2s ease-in-out;
}
button:hover {
    text-decoration: none;
    color: lightgoldenrodyellow;
    transition: .3s linear;
    box-shadow: 4px 4px 16px rgba(70,205,79, 0.4);
}
.bt.danger {
    color: white;
    margin-right: 30px;
    margin-left: 30px;
    background-color: #971c2c;
    border-color: #de3a4b;
}
.bt:hover, .bt_s:hover, .bt_r:hover, groups:hover {
    text-decoration: none;
    color: lightgoldenrodyellow;
    background-color: #20608F;
}
.bt.danger:hover {
    color: yellow;
    background-color: #de3a4b;
    border-color: #971c2c;
    text-decoration: none;
}
.bt:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.nav_button {
    padding: 9px 12px 9px 12px;
    text-decoration: none;
    align-items: center;
    display: flex;
    position: relative;
    border-radius: 5px;
    font-weight: 500;
}