.nm_load_minso {
    color: brown;
}
.cancel_background_hover:hover {
    background: inherit;
}
label {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}
a[href^='/language'], header a[href^='/log'] {
    color: green;
}
groups {
    background: #198518;
}
groups > a {
    color: #fff;
}
groups:hover {
    box-shadow: 4px 4px 16px grey;
}

reports > a {
    color: green;
}

reports {
    color: #ddd;
}