.title, .title2 {
    padding: 6px 16px 6px 10px;
}
.title {
    font-size: 20px;
}
.title2 {
    font-size: 16px;
}
.nm_load_minso {
    color: brown;
    font-size: 18px;
    text-decoration: none;
    padding: 2px 0px;
}
.cancel_background_hover:hover {
    background: inherit;
}
label {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}
a[href^='/language'], header a[href^='/log'] {
    color: green;
    margin-left: 10px;
    padding: 5px;
    text-decoration: none;
    border-radius: 4px;
}
.nav_button, groups {
    text-decoration: none;
    align-items: center;
    display: flex;
    position: relative;
    border-radius: 5px;
    font-weight: 500;
    box-shadow: 3px 3px 6px grey;
}
groups {
    margin: 5px 9px;
    float: left; /*Задаем обтекание*/
    text-align: center; /*Центрируем текст по горизонтали*/
    position: relative;
    background: #198518;
}

groups > a {
    margin: 5px 12px;
    padding: 6px 10px 6px 10px;
    text-decoration: none;
    color: #fff;
}
groups:hover {
    top: 1px;
    transition: .3s linear;
    box-shadow: 4px 4px 16px grey;
}
