@import url('forms.css');
@import url('table_styles.css');
@import url('button.css');
@import url('images.css');
@import url('input_field.css');
@import url('elements.css');

:root {
    color: green;
    text-shadow: 1px 2px 3px grey;
}
html, body {
    padding: 1px;
    margin: 0px;
    height: 100%;
    width: 100%;
    text-decoration: none;
    font-family: Calibri;
    background: #c9edcd52;
}
common-container {
    margin: 1px;
    min-height: 100%;
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: 44px 44px auto 36px;
    grid-gap: 2px;
    grid-template-areas: "header header"
        "nav article_title"
        "nav article"
        "footer footer";
}
nav, article {
    border-radius: 3px;
    border: 1px solid rgba(142, 142, 142, 0.3);
    background-image: url('/static/img/bg.jpg'); /* Update this path */
    background-size: cover;
    background-position: center;
}
nav {
    margin: 0;
    padding: 2px;
    display: grid;
    grid-template-rows: repeat(12,minmax(48px, 58px));
    grid-template-columns: 100%;
    grid-row-gap: 3px;
    grid-area: nav; /* задаем имя элемента */
    align-content: stretch;
}
article {
    padding: 6px 0px;
    margin: 0;
    grid-area: article; /* задаем имя элемента */
}
article_title {
    padding: 2px 24px;
    font-size: 20px;
    display: flex; /*Для выравнивания заголовка по центру*/
    align-items: center; /*Для выравнивания заголовка по центру*/
    grid-area: article_title; /* задаем имя элемента */
    background-color: #cfefd5;
}
header {
    display: grid;
    padding-left: 16px;
    grid-template-columns: 4fr 4fr 4fr;
    align-items: center; /* Выравниваем по вертикали*/
    grid-area: header; /* задаем имя элемента */
    /*    background-color: #cfefd5;*/
}
footer {
    display: grid;
    padding: 8px 16px;
    align-items: center; /* Выравниваем по вертикали*/
    grid-template-columns: 1fr 6fr;
    grid-area: footer; /* задаем имя элемента */
}
header, footer, article_title, article_body, article_info {
    border-radius: 3px;
    border: 1px solid rgba(180, 180, 180, 0.3);
}
footer > .footer-l, header > .header-l {
    margin-left: 10px;
    font-weight: bold;
    display: flex;
    align-items: center;
}
footer > .footer-r, header > .header-r {
    /*margin-left: 15px;*/
    margin-right: 10px;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
footer > .footer-c, header > .header-c {
    margin: 4px 24px;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: center;
}
article_title > a {
    margin: 2px;
    padding: 8px 12px 8px 12px;
    color: green;
    text-decoration: none;
    border-radius: 4px;
    font-size: 18px;
}
article_title > a:hover, reports > a:hover,
.header-r > a:hover, .header-c > a:hover {
    background: #117910;
    color: wheat;
    text-decoration: none;
    border-radius: 4px;
}

