table {
    border-collapse: collapse;
    text-shadow: none;
}
thead {
    text-align: center;
    text-decoration: none;
    padding: 3px 12px;
    border: 1px solid rgba(180, 180, 180, 0.3);
}
/* Подсвечиваем строки на котором стоит курсор*/
tbody > tr:hover {
    background: #c9edcd;
}
td, th {
    text-align: center;
    text-decoration: none;
    font-weight: normal;
    border: 1px solid rgba(180, 180, 180, 0.3);
}
td {
    padding: 3px 12px;
}
th {
    font-weight: bold;
    padding: 5px 14px;
}

/* Если отчет выбирали то установим новый цвет */
.a_s {
    color: green;
    text-decoration: none;
}
.a_s:visited {
    color: darkgreen;
    text-decoration: none;
}
.a_s:link {
    color: #ddd;
    text-decoration: none;
}
.a_s2 {
    color: brown;
    text-decoration: none;
}
.a_s2:hover {
    color:palevioletred;
}

/*
.a_s2:visited {
    color: blanchedalmond;
    text-decoration: none;
}
*/
*, *:after, *:before {
    box-sizing: border-box;
}
reports > a {
    text-decoration: none;
    align-items: center;
    padding: 5px 5px 5px 10px;
    display: block;
    border: inherit;
    border-radius: inherit;
    color: #41794e;
    text-shadow: 1px 2px 3px grey;
    text-shadow: none;
}
reports > a:hover {
    background: #117910;
    color: wheat;
    text-decoration: none;
    border-radius: 4px;
}