{% extends 'base.html' %}

{% block title %}
{{ res_value('AUXILIARY_TASK') }}
{% endblock %}

{% block main_title %}
<a class="title">{{ res_value('AUXILIARY_TASK') }}</a>
{% endblock %}

{% block navigate %}
<a href="/">{{ res_value('RETURN') }}</a>
{% endblock %}

{% block body %}
<form action="/load_minso_dia" class="form_r" style="padding-left: 1%" method="POST">
    <a style="color: #ddd; text-decoration: none; padding-left: 5px">01. {{ res_value('LOAD_LIST_ORG_MINSO') }}</a>
    <!--<input type="file" name="{{ res_value('SELECT_FILE') }}">-->
    <br>
    <label class="upload-file__label" for="upload-file__input_1">

        <img src="/static/img/upload.png" class="image-2">&emsp;
        <span class="upload-file__text">{{ res_value('SELECT_FILE') }}</span>

        <input class="upload-file__input"
               type="file"
               accept=".xls, .xlsx"
               name="file"
               id="upload-file__input_1">

    </label>
    <button class="bt bt_r" type="submit">{{ res_value('LOAD_FILE') }}</button>
</form>

{% endblock %}