{% extends 'base.html' %}

{% block title %}
{{ res_value('AUXILIARY_TASK') }}
{% endblock %}

{% block main_title %}
<div class="title">{{ res_value('AUXILIARY_TASK') }}</div>
{% endblock %}

{% block navigate %}
<a class="nav_button" href="/">{{ res_value('RETURN') }}</a>
{% endblock %}

{% block body %}
<form action="/load_minso_dia" style="padding-left: 1%" method="POST" id="form_input" enctype="multipart/form-data">
    <a class="nm_load_minso">01. {{ res_value('LOAD_LIST_ORG_MINSO') }}</a>
    <br>
    <label class="upload-file__label" for="file" id="label_file_input">

        <img src="/static/img/upload.png" class="image-2">&emsp;
        <span class="upload-file__text" id="select_file">{{ res_value('SELECT_FILE') }}</span>

        <input class="upload-file__input"
               type="file"
               accept=".xls, .xlsx"
               name="file"
               id="file">

    </label>
    <button style="margin-top: 14px" type="submit">{{ res_value('LOAD_FILE') }}</button>
    <div>
        <span id="id_mess" style="color: #ff54dc; text-decoration: none; padding: 2px 0px; margin: 4px 0px 0px 3px ">{{ info }}</span>
    </div>
    <script>
        //document.getElementById("form_input").addEventListener("change",
        //    function (e) {
        //        var val = document.getElementById("file").value;
        //        var len_val = (val.split('').length + 6) * 20 * 0.520; // 0.263;
        //        if (len_val > 960) len_val=960
        //        //console.log('VAL: ' + val + ', LEN: ' + len_val + "px" );
        //        document.getElementById("select_file").innerHTML = val;
        //        document.getElementById("label_file_input").style.width = (len_val-32) + "px"
        //});
        document.getElementById("file").addEventListener("change",
            function (e) {
                document.getElementById("select_file").innerHTML = this.files[0].name;
                len_in_pixel = document.getElementById("select_file").clientWidth;

                //console.log('FILE_NAME: ' + this.files[0].name + "\nWIDTH IN PIXEL: " + len_in_pixel);
                document.getElementById("label_file_input").style.width = (len_in_pixel + 95) + "px"
                document.getElementById("id_mess").innerHTML = ''
            });
    </script>
</form>
{% endblock %}