<link rel="stylesheet" type="text/css" href="/static/styles/form.css">

{% extends 'base.html' %}

{% block title %}
{{ res_value('SELECT_REPORT') }}
{% endblock %}

{% block main_title %}
<a href="/">. .</a>-><a href="/dep/{{ session['dep_name'] }}">{{ session['dep_name'] }}</a>-><a href="/list_reports/{{ session['grp_name'] }}">{{ session['grp_name'] }}</a>-><a>{{ session['rep_code'] }}.&nbsp;{{ session['rep_name'] }}</a>
{% endblock %}


{% block navigate %}
<a href="/">{{ res_value('RETURN') }}</a>
{% endblock %}

{% block body %}

<form class="form_parms" method="POST">
    {% for el in params %}
        {% if el[:1].lower() == 'd' %}
            <label for="{{ el }}">{{ params.get(el) }}</label>
            <input type="date" id="{{ el }}" name="{{ el }}"><br>
        {% elif el[:1].lower() == 's' %}
            {% set list_val = params.get(el).split(':') %}
            <label for="{{ el }}">{{ list_val[0] }}</label>
            <input type="text" id="{{ el }}" name="{{ el }}" pattern="{ {{list_val[1]}} }" maxlength="{{ list_val[1] }}" minlength="{{ list_val[1] }}"><br>
        {% elif el[:1].lower() == 'n' %}
            {% set list_val = params.get(el).split(':') %}
            <label for="{{ el }}">{{ list_val[0] }}</label>
            <input type="number" id="{{ el }}" name="{{ el }}" pattern="\d*" maxlength="{{ list_val[1] }}" minlength="{{ list_val[1] }}"><br>
        {% endif %}
    {% endfor %}
    <input type="submit" name="edit_parms" value="Запросить отчёт">
</form>
{% endblock %}
