{% extends 'base.html' %}

{% block title %}
{{ res_value('SELECT_REPORT') }}
{% endblock %}

{% block main_title %}
<a href="/"><dev class="image"><img src="/static/img/Home-1.png"></dev></a>&nbsp;. . .&nbsp;<a href="/dep/{{ session['dep_name'] }}">{{ session['dep_name'] }}</a>&nbsp;. . .&nbsp;<a>{{ session['grp_name'] }}</a>
{% endblock %}


{% block navigate %}
<a class="title2" href="/">{{ res_value('RETURN') }}</a>
{% endblock %}

{% block body %}
<form class="form_r">
    {% for el in cursor %}
    <reports>
        <a href="/extract-params/{{el.num}}">{{el.num}}.&nbsp;{{ el.name }}</a>
    </reports>
    {% endfor %}
</form>
{% endblock %}
