{% extends 'base.html' %}

{% block title %}
{{ res_value('SELECT_GROUP') }}
{% endblock %}

{% block main_title %}
<a href="/"><div class="image-home"><img src="/static/img/Home-1.png"></div></a>&nbsp;. . .&nbsp;<a>{{ session['dep_name'] }}</a>
{% endblock %}


{% block navigate %}
<a class="nav_button" href="/">{{ res_value('RETURN') }}</a>
{% endblock %}

{% block body %}
<!--<form class="form_r">-->
<!--<div class="table_list">-->
        {% for el in cursor %}
        <groups>
        <a class="title2" href="/list-reports/{{el}}">{{ el }}</a>
        </groups>
        {% endfor %}
<!--</div>-->
<!--</form>-->
{% endblock %}
