{% extends 'base.html' %}

{% block title %}
{{ res_value('LOGIN_PAGE') }}
{% endblock %}

{% block main_title %}
{{ res_value('LOGIN_PAGE') }}
{% endblock %}

{% block body %}
<div class="title_message">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flashes" style="margin: 0">
        {% for msg in messages %}
        <li class="td_value_bold"> {{ msg }} </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</div>
<form style="border:none; padding: 12px 0px 0px 24px;"method="POST">
    <table>
        <tbody>
            <tr>
                <td style="border: none; text-align:left; padding: 3px 0px;">
                    <input class="input_login" style="margin: 0px" type="text" name="username" placeholder="Фамилия или ИИН" autocomplete="on">
                </td>
            </tr>
            <tr>
                <td style="border: none; text-align: left; padding: 3px 0px;">
                    <input class="input_login" style="margin: 4px 0px 0px 0px" type="password" name="password" placeholder="Пароль в Windows" autocomplete="off">
                </td>
            </tr>
        <tbody>
    </table>
    <button style="margin-top: 16px" type="submit">{{ res_value('LOGIN_BUTTON') }}</button>
    <div style="text-align: left; margin-top: 20px; text-shadow:none; font-size: 20px">
        {% if info %}
        <a>{{ info }}</a>
        {% endif %}
    </div>
</form>
{% endblock %}