{% extends 'base.html' %}

{% block title %}
    {{ res_value('LOGIN_PAGE') }}
{% endblock %}

{% block main_title %}
    {{ res_value('LOGIN_PAGE') }}
{% endblock %}

{% block body %}
<div class="title_message">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes" style="margin: 0">
                {% for msg in messages %}
                   <li class="td_value_bold"> {{ msg }} </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</div>
<form class="form_login" method="POST">
    <label for="username">Введите имя</label>
    <input class="form_username" type="text" name="username" placeholder="имя">
    <label for="username">Введите пароль</label>
    <input class="form_password" type="password" name="password" placeholder="пароль">
    <br><br>
    <input type="submit" value="{{ res_value('LOGIN_BUTTON') }}">
<!--    <input class="bt success" type="submit" value="{{ res_value('LOGIN_BUTTON') }}">-->
</form>
{% endblock %}